<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dt_web_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dt_web_app.styles.css" asp-append-version="true" />
</head>

<body data-bs-theme="dark">
    <header>
        <nav class="navbar bg-primary">
            <div class="container">
                <a class="navbar-brand text-danger" asp-page="/Index">DT App</a>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/DTs">DTs</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>